<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoH7mcXZLfxH_LWk0tfG6aIauKe2MR1Vk</string>
	<key>GCM_SENDER_ID</key>
	<string>757932230342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cesardelgado.glmba</string>
	<key>PROJECT_ID</key>
	<string>glmba-tfg</string>
	<key>STORAGE_BUCKET</key>
	<string>glmba-tfg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757932230342:ios:b14e27ebdf373a34cf39c7</string>
	<key>DATABASE_URL</key>
	<string>https://glmba-tfg-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>